<%# Фрагмент для вывода кнопок подсказок, а также информации из этих подсказок %>
<div class="game-help-info">
  <%= render partial: 'help_text', object: help %>
</div>

<%# Выводим подсказки, которые можно использовать во время игры %>
<div class="game-help row buffer-top">
  <div class="col-sm-4">
    <%# Для каждой подсказки с помощью объекта game проверяем, не была ли подсказка использована ранее %>
    <% unless game.fifty_fifty_used? %>
      <%= link_to '50/50', help_game_path(game, help_type: :fifty_fifty), method: :put, remote: true, class: 'btn btn-default btn-block btn-help fifty_fifty' %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.friend_call_used? %>
      <%= link_to fa_icon('phone'), help_game_path(game, help_type: :friend_call), method: :put, remote: true, class: 'btn btn-default btn-block btn-help friend_call' %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% unless game.audience_help_used? %>
      <%= link_to fa_icon('users'), help_game_path(game, help_type: :audience_help), method: :put, remote: true, class: 'btn btn-default btn-block btn-help audience_help' %>
    <% end %>
  </div>
</div>
